.idea
moderation/node_modules/*
moderation/config/default.js
moderation/package-lock.json
models/*.h5
samples/logs/*
perl/*
cofig/*.json
source/*
./.pypirc

datasets/ocr/*
datasets/options/*
datasets/region/*
datasets/mrcnn/*
tensorflow/*

public/npdetect.php
Mask_RCNN/*
centermask2/*