.idea
moderation/node_modules/*
moderation/config/default.js
moderation/package-lock.json
models/*.h5
samples/logs/*
perl/*
cofig/*.json
source/*
./.pypirc

data/dataset/*
data/logs/*.log
data/models/*
data/repos/*

public/npdetect.php
Mask_RCNN/*
centermask2/*