# nomeroff-net
examples/**/*.html

moderation/node_modules/*
moderation/config/default.js
moderation/package-lock.json
models/*.h5
samples/logs/*
perl/*
cofig/*.json
source/*
./.pypirc

# datasets
lightning_logs
datasets/*
data/dataset/*
!data/dataset/Detector/yolov5/autoria_numberplate_dataset_example/*
!data/dataset/OptionsDetector/numberplate_options_example/*
!data/dataset/TextDetector/ocr_example/autoria_numberplate_dataset_example/*

data/logs/*
data/models/*
data/repos/*
tensorflow/*

public/npdetect.php
Mask_RCNN/*
centermask2/*

# models
*.ckpt
*.pt

# sonarcube
.scannerwork
sonar-project.properties
scan.sh

# idea
.idea/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
