cython
setuptools
numpy>=1.16.*
imgaug
tensorflow>=2.3.*
opencv_python
imutils
scikit_image
jupyter
asyncio
GitPython
pycocotools
tqdm
matplotlib
torch==1.6.*
torchvision==0.7.0
PyYAML==5.3
detectron2
