cython
setuptools
numpy>=1.16.*
imgaug>=0.4.*
opencv_python
scikit_image
asyncio
gitpython
pycocotools
ujson
pillow
tqdm
matplotlib
scipy
torch>=1.8
torchvision>=0.9
PyYAML>=5.4
seaborn
git+https://github.com/lilohuang/PyTurboJPEG.git
git+https://github.com/ria-com/modelhub-client.git
pytorch_lightning
ipywidgets
gevent
termcolor
sklearn
thop
loguru