Keras==2.2.2
pycocotools==2.0.0
imgaug==0.2.6
matplotlib==3.0.0
setuptools==39.1.0
pip==9.0.3
scipy==1.1.0
tensorflow==1.12.0
h5py==2.8.0
opencv_python==3.4.3.18
imutils==0.5.1
pytesseract==0.2.5
scikit_image==0.13.1
numpy==1.15.1
ipython==7.2.0
Pillow==5.4.1
skimage==0.0
scikit_learn==0.20.2
pandas==0.23.4
scikit-learn==0.20.1
scikit-image==0.13.1
jupyter==1.0.0
mrcnn==0.2