const p = require('../package');
module.exports = {
    app: {
        name: p.name,
        description: p.description,
        version: p.version
    },
    template: {
        path: `${__dir_name}/../templates`,
        annDefault: 'kz.json'
    },
    dataset: {
        baseDir: `${__dir_name}/../../../dataset/ocr/kz`,
        ann: { dir: 'ann', ext: 'json'},
        img: { dir: 'img', ext: 'png'}
    },
    via: {
        partDirs: ['train', 'val']
    }

};