<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="icon" href="../../../../favicon.ico"-->

    <title>Nomeroff Net. Automatic numberplate recognition system from RIA.com</title>

    <!-- BootstrapCDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://rawgit.com/google/code-prettify/master/loader/run_prettify.js?autoload=true&amp;lang=css" defer></script>

    <!-- Custom styles for this template -->
    <style>
        body { padding-bottom: 20px; }
        .navbar { margin-bottom: 20px; }
    </style>
</head>

<body>


<div class="container" id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <a class="navbar-brand" href="#">OCR Moderation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Setup</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main">
        <div style="color: silver;" id="infoBox">
            <p>
                Expect moderation: {{ expectModeration }}
            </p>
        </div>
        <div class="jumbotron">
            <div class="col-sm-10 mx-auto">
                <form @submit.prevent="submit">
                <table class="table table-striped" id="npsTable">
                    <tbody>
                    <tr v-for="_data in data">
                        <td class="text-center">
                            <div class="form-group">
                                <input type="text" class="form-control" v-model="_data.description"
                                       placeholder="Input number from the image below">
                            </div>
                            <a :href="_data.img_path" target="_blank">
                                <img :src="_data.img_path" style="max-width: 300px; max-height: 300px">
                            </a>
                        </td>
                        <td class="optionTD">
                            <p>
                                <select v-model="_data.region_id" :disabled="_data.deleted" :required="!_data.deleted"
                                        class="form-control">
                                    <option disabled="" :value="undefined">Region</option>
                                    <option :value="region_id" v-for="region_id in options.region_id">
                                        {{ region_id }}
                                    </option>
                                </select>
                            </p>
                            <p>
                                <select v-model="_data.state_id" :disabled="_data.deleted" :required="!_data.deleted"
                                        class="form-control">
                                    <option disabled="" :value="undefined">State</option>
                                    <option :value="state_id" v-for="state_id in options.state_id">
                                        {{ state_id }}
                                    </option>
                                </select>
                            </p>
                            <div class="checkbox">
                                <label>
                                    <input tabindex="-1" type="checkbox" class="del" title="Mark for removing" v-model="_data.deleted" value="1">
                                    Remove
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr v-if="!data.length">
                        <td colspan="3">
                            <h3>You're great, no files to annotate!</h3>
                        </td>
                    </tr>
                    </tbody>
                </table>
                    <input type="submit" name="reset" value="Reset" id="reset" class="btn" :disabled="loading" />
                    <input type="submit" name="loadNext" value="Save & Load Next" id="loadNext" class="btn btn-primary" :disabled="loading" />
                </form>
            </div>
        </div>
    </main>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            options: {
                region_id: [],
                state_id: [],
            },
            data: [],
            loading: false,
            expectModeration: null,
        },

        mounted: function () {
            var _this = this;
            this.loading = true;
            $.post('/regionOCRModeration', null, null, 'json').done(function (res) {
                Object.assign(_this, res);
            }).always(function () {
                _this.loading = false;
            })
        },
        methods: {
            submit: function () {
                var _this = this;
                if (this.loading) {
                    return;
                }
                // cannot submit twice
                this.loading = true;

                $.post('/regionOCRModeration', {chended_numbers: this.data}, null, 'json').done(function (res) {
                    Object.assign(_this, res);
                }).always(function () {
                    _this.loading = false;
                })
            }
        }
    });
</script>
</body>
</html>
